.typePhoto {
    width: 100vw;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    view-timeline-name: --moveTop;
    view-timeline-axis: block;
    
    animation-timeline: --moveTop;
    animation-name: moveTop;
    animation-fill-mode: forwards;
    animation-range: entry 15% cover 70%;


}

.category {
    width: 100%;
    height: 300px;
    display: grid;
    place-content: center;
    border: 2px solid;
    border-radius: 30px;
    transition: height .5s ease-in-out;
}

.category h2 {
    color: var(--color2);
}

.category1, .category2, .category3 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.category1 {
    background-image: url('../../images/optimized/voz2Optimized.jpg');

    view-timeline-name: --opacityLeft;
    view-timeline-axis: block;
    
    animation-timeline: --opacityLeft;
    animation-name: moveOpacityLeft;
    animation-fill-mode: both;
    animation-range: entry 15% cover 50%;
}

.category2 {
    background-image: url('../../images/optimized/escenarioOptimized.jpg');
    view-timeline-name: --opacity;
    view-timeline-axis: block;
    
    animation-timeline: --opacity;
    animation-name: opacity;
    animation-fill-mode: both;
    animation-range: entry 15% cover 50%;
}

.category3 {
    background-image: url('../../images/optimized/it2Optimized.jpg');
    background-position: right;

    view-timeline-name: --opacityRight;
    view-timeline-axis: block;
    
    animation-timeline: --opacityRight;
    animation-name: moveOpacityRight;
    animation-fill-mode: both;
    animation-range: entry 15% cover 50%;

}

.category:hover {
    opacity: 1;
    height: 350px;
    transition: height .5s ease-in-out;
}

@media (min-width:768px) {
    .typePhoto {
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        max-width: 770px;
        margin: auto;
    }
 
    .category {
        max-width: 300px;
    }

    .category:hover {
        height: 400px;
    }
}