.contact {
    width: 100vw;
    height: auto;
}

.contact__form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 3px 8px #3b045a;
    padding: 40px;

}

.contact__form h2 {
    text-align: center;
    color: var(--color2);
    text-shadow: 5px 5px 20px var(--color4);
}

.contact__form label {
    color: var(--color2);
    padding: 5px;
    font-size: .7rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.input-box input, .input-box textarea {
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #53198a;
    padding-left: 25px;
    opacity: .3;
    transition: all .5s ease-in;
    font-size: .8rem;
    height: 30px;

    view-timeline-name: --reveal;

    animation-name: fadeOnScroll;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 10% cover 20%;

}

.input-box textarea {
    padding: 0;
    padding-left: 25px;
}

.input-box .mess {
    height: 100px;
    transition: height .8s ease-in-out;
    padding-top: 10px;
}

.input-box .mess:focus {
    height: 200px;
    transition: height .8s ease-in-out;
}

.input-box input:focus, .input-box textarea:focus {
    opacity: 1;
    transition: all .5s ease-out;
}



.input-box input::placeholder, .input-box textarea::placeholder {
    color: var(--color);
}

#btn__form {
    margin-top: 20px;
    font-weight: 500;
}

@media (min-width:768px) {

    .contact {
        padding-bottom: 50px;
    }

    .contact__form {
        max-width: 700px;
    }

    .contact__form input, .contact__form textarea {
        font-size: 1.2rem;
    }
}