/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.container__hero {
    background-image: url('../../images/merc3.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "DM Sans", serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 70px;
}   

.iconMenu {
    font-size: 2.3rem;
    color: var(--color2);
    position: absolute;
    right: 30px;
    z-index: 100;
}

.iconMenu:hover {
    cursor: pointer;
    scale: 0.95;
    color: var(--color3);
}

.container__navDesktop {
    display: none;
    gap: 20px;
    font-size: 1.1rem;
}

.container__navDesktop a {
    color: var(--color2);
    position: relative;
}

.container__navDesktop a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 1px;
    background-color:var(--color4);
    transition: width 1s ease;
    box-shadow: 0px 2px 8px var(--color2);
}

.container__navDesktop a:hover::after {
    width: 100%;
}

.container__txt {
    transition: all 3s ease;
    text-align: center;
}

.container__leftText {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.container__leftTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container__leftTitle  h3 {
    font-size: .7rem;
    color: var(--color1);
    font-weight: 800;
    opacity: .5;
}

.container__leftTitle h1 {
    color: var(--color2);
    font-size: 3.3rem;
    font-weight: 700;
}

#buttonContact {
    background-color: var(--color4);
    color: var(--color2);
    width: 80%;
    border: none;
    transition: background-color .8s ease, box-shadow .8s ease, border .5s linear;
    cursor: pointer;
}

#buttonContact:hover {
    background-color: blueviolet;
    box-shadow: 2px 5px 10px var(--color4);
    border: .5px solid var(--color4);
}

.container__leftTitle p {
    color: var(--color2);
    padding: 10px;
}

.container__typePhoto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px;
    color: var(--color2);
}

.typePhoto__itemType {
    background-color: #2c052c72;
    border-radius: 20px;
    padding: 15px;
    transition: all .5s ease;
    text-align: start;
}

.typePhoto__itemType:hover {
    background-color: #800080be;
    scale: 1.05;
}

.typePhoto__item h3 {
    color: var(--color2);
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

.typePhoto__itemType ul {
    display: grid;
    gap: 10px;
}

.typePhoto__itemCam h3 {
    font-size: 1rem;
    font-weight: 300;
    opacity: .5;
}

@media (min-width:400px) {
    
    .container__leftTitle  h3 {
        font-size: 1rem;
        opacity: .8;
    }
}


@media (min-width:768px) {

    .container__leftTitle {
        max-width: 100%;
        align-items: center;
        gap: 20px;
    }
    
    .container__leftTitle h1, .container__leftTitle p {
        text-align: center;
        padding: 0;
        max-width: 500px;
    }

    #buttonContact {
        width: 40%;
    }

    .container__typePhoto {
        flex-direction: column;
    }

    .iconMenu, .container__menuResponsive {
        display: none;
    }

    .container__navDesktop {
        display: flex;
    }
}


@media (min-width:1000px) {

    .container__leftTitle {
        max-width: 500px;
        align-items: start;
    }

    .container__leftTitle  h3 {
        font-size: 1.2rem;
        color: var(--color2);
        opacity: 1;
    }

    .container__leftTitle h1, .container__leftTitle p {
        text-align: start;
        padding: 0;
        max-width: 500px;
    }

    .container__typePhoto {
        flex-direction: row;
        padding: 0;
        justify-content: end;
    }

    .typePhoto__itemType {
        background-color: transparent;
        border-radius: 20px;
        padding: 15px;
        transition: all .5s ease;

    }

    .typePhoto__itemType h3 {
        text-align: end;
    }

    .typePhoto__itemType ul {
        text-align: end;
        list-style: none;
    }

    .typePhoto__itemType:hover {
        background-color: transparent;
        scale: 1;
    }

    .typePhoto__itemCam {
        position: absolute;
        transform: rotate(-90deg);
        top: 300px;
        right: -240px;
    }

    .typePhoto__itemCam h3 {
        font-size: .8rem;
    }

} 