.navBar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #220022dc;
    position: absolute;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
}

.navBar.open {
    display: flex;
}

.navBar a {
    color: var(--color2);
    text-decoration: none;
    font-size: 1.25rem;
}

.navBar a:hover {
    transition: scale .3s linear;
    scale: 1.05;
    color: var(--color2);
    text-shadow: 1.5px 3px 5px var(--color4);
}
